html {
  box-sizing: border-box;
  font-size: 100%;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
body {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.1;
  margin-top: 0;
}
p {
  margin-top: 0%;
  margin-bottom: 0;
}
a,
a:visited,
a:active {
  text-decoration: none;
}
