@use "../util/index2" as *;

header {
  background-color: hsl(0, 0%, 98%);
  box-shadow: rgb(0 0 0 / 45%) 0px 18px 11px -20px;
  padding: 24px 0;
  @include breakpoint("medium") {
    padding: 26px 0;
  }
  nav {
    display: flex;
    justify-content: space-between;
    h1 {
      font-size: 14px;
      margin-bottom: 0;
      @include breakpoint("medium") {
        font-size: 24px;
      }
    }
    .theme {
      cursor: pointer;
      align-self: center;
      display: flex;
      justify-content: space-between;
      i {
        height: 17px;
        margin-right: 10px;
        font-size: 20px;
      }
      div {
        font-size: 14px;
        font-weight: 600;
        @include breakpoint(medium) {
          font-size: 16px;
        }
      }
    }
  }
}

//dark theme styles

.header-dark {
  background-color: hsl(209, 23%, 22%);
  nav {
    h1 {
      color: hsl(0, 0%, 98%);
    }
    .theme {
      color: hsl(0, 0%, 98%);
    }
  }
}
