@use "../util/index2" as *;

header {
  background-color: red;
  padding: 24px 0;
  @include breakpoint("medium") {
    padding: 32px 0;
  }
  nav {
    display: flex;
    justify-content: space-between;
    h1 {
      font-size: 14px;
      margin-bottom: 0;
    }
    .theme {
      align-self: center;
      display: flex;
      justify-content: space-between;
      img {
        height: 17px;
        margin-right: 10px;
      }
      div {
        font-size: 14px;
        font-weight: 600;
      }
    }
  }
}
