@charset "UTF-8";
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "“" "”" "‘" "’";
}

q:before, q:after {
  content: "";
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3 {
  font-weight: 700;
  line-height: 1.1;
  margin-top: 0;
}

p {
  margin-top: 0%;
  margin-bottom: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

body {
  font-family: "Nunito Sans", sans-serif;
  min-height: 100vh;
}

.container {
  width: 91.2%;
  margin-inline: auto;
}
@media (min-width: 43.75em) {
  .container {
    max-width: calc(100% - 160px);
  }
}

header {
  background-color: hsl(0deg, 0%, 98%);
  box-shadow: rgba(0, 0, 0, 0.45) 0px 18px 11px -20px;
  padding: 24px 0;
}
@media (min-width: 43.75em) {
  header {
    padding: 26px 0;
  }
}
header nav {
  display: flex;
  justify-content: space-between;
}
header nav h1 {
  font-size: 14px;
  margin-bottom: 0;
}
@media (min-width: 43.75em) {
  header nav h1 {
    font-size: 24px;
  }
}
header nav .theme {
  cursor: pointer;
  align-self: center;
  display: flex;
  justify-content: space-between;
}
header nav .theme i {
  height: 17px;
  margin-right: 10px;
  font-size: 20px;
}
header nav .theme div {
  font-size: 14px;
  font-weight: 600;
}
@media (min-width: 43.75em) {
  header nav .theme div {
    font-size: 16px;
  }
}

.header-dark {
  background-color: hsl(209deg, 23%, 22%);
}
.header-dark nav h1 {
  color: hsl(0deg, 0%, 98%);
}
.header-dark nav .theme {
  color: hsl(0deg, 0%, 98%);
}

main {
  margin-top: 48px;
}
main .container {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 43.746875em) {
  main .container {
    flex-direction: column;
  }
}
main .container .filter-search {
  position: relative;
}
main .container .filter-search input[type=text] {
  width: 30rem;
  padding: 20px 0px 20px 72px;
  border-radius: 5px;
  box-shadow: 0px 5px 11px 4px rgba(0, 0, 0, 0.05);
  outline: none;
  border: none;
  font-size: 14px;
}
@media (max-width: 43.746875em) {
  main .container .filter-search input[type=text] {
    width: 100%;
  }
}
main .container .filter-search input[type=text]::placeholder {
  font-weight: 600;
  color: hsl(0deg, 0%, 52%);
}
main .container .filter-search i {
  position: absolute;
  left: 30px;
  top: 20px;
  font-size: 18px;
  color: hsl(0deg, 0%, 52%);
}

.dropdown {
  width: 200px;
  position: relative;
}
@media (max-width: 43.746875em) {
  .dropdown {
    width: 50%;
    margin-top: 40px;
  }
}
.dropdown .dropdown-btn {
  padding: 21px 18px 18px 24px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 5px 11px 4px rgba(0, 0, 0, 0.05);
  font-weight: 600;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  cursor: pointer;
}
.dropdown .dropdown-content {
  position: absolute;
  top: 105%;
  padding: 14px 0px 10px 10px;
  left: 0;
  background-color: white;
  color: black;
  box-shadow: 0px 5px 11px 4px rgba(0, 0, 0, 0.05);
  font-weight: 600;
  border-radius: 5px;
  width: 100%;
}
.dropdown .dropdown-content .dropdown-names {
  padding: 2px 0 7px 15px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.2s;
}
.dropdown .dropdown-content .dropdown-names:hover {
  background: #f4f4f4;
}

.dark-main input[type=text] {
  background-color: hsl(209deg, 23%, 22%);
  color: hsl(0deg, 0%, 98%);
}
.dark-main input[type=text]::placeholder {
  color: hsl(0deg, 0%, 98%);
}
.dark-main .dropdown-btn {
  background-color: hsl(209deg, 23%, 22%);
  color: hsl(0deg, 0%, 98%);
}
.dark-main .dropdown-content {
  background-color: hsl(209deg, 23%, 22%);
  color: hsl(0deg, 0%, 98%);
}
.dark-main .dropdown-content .dropdown-names:hover {
  background-color: rgb(199, 195, 195);
}

.country {
  width: 264px;
  height: 336px;
  border-radius: 5px;
  background-color: white;
  overflow: hidden;
  box-shadow: 0px 5px 11px 4px rgba(0, 0, 0, 0.05);
}
@media (max-width: 43.746875em) {
  .country {
    width: 300px;
    height: 320px;
  }
}
.country .img {
  width: 100%;
  height: 160px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.country .country-details {
  padding: 22px 0 0 24px;
}
.country .country-details h1 {
  font-size: 18px;
}
.country .country-details .info {
  margin-top: 17px;
}
.country .country-details .info > div {
  font-size: 14px;
  font-weight: 600;
}
.country .country-details .info > div:not(.country .country-details .info > div:first-child) {
  margin-top: 5px;
}
.country .country-details .info > div span {
  font-weight: 300;
}

.countires-container {
  display: grid;
  margin-inline: auto;
  gap: 73px;
  margin-top: 46px;
}
@media (min-width: 400px) {
  .countires-container {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 768px) {
  .countires-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 960px) {
  .countires-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1200px) {
  .countires-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

.dark-country {
  background-color: hsl(209deg, 23%, 22%);
  color: hsl(0deg, 0%, 100%);
}

.details {
  margin-top: 80px;
}
.details .back-btn {
  background-color: hsl(0deg, 0%, 98%);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 12px 3px;
  width: 136px;
  border-radius: 5px;
  text-align: center;
  padding: 13px 40px 15px 33px;
  cursor: pointer;
}
.details .back-btn i {
  margin-right: 12px;
}
.details .info-deatils {
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  gap: 120px;
}
@media (max-width: 43.746875em) {
  .details .info-deatils {
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 30px;
  }
}
.details .info-deatils .details-image img {
  height: 400px;
  width: 560px;
}
@media (max-width: 43.746875em) {
  .details .info-deatils .details-image img {
    width: 100%;
    height: auto;
  }
}
.details .info-deatils .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 0;
}
.details .info-deatils .info .country-info {
  display: flex;
  gap: 120px;
}
.details .info-deatils .info .country-info .col-1,
.details .info-deatils .info .country-info .col-2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.details .info-deatils .info .country-info .col-1 > div,
.details .info-deatils .info .country-info .col-2 > div {
  font-weight: 600;
  font-size: 14px;
}
.details .info-deatils .info .country-info .col-1 > div > span,
.details .info-deatils .info .country-info .col-2 > div > span {
  font-weight: 300 !important;
}
.details .info-deatils .borders {
  display: flex;
  gap: 14px;
  margin-top: 75px;
}
.details .info-deatils .borders .borders-title {
  align-self: center;
  font-size: 14px;
  font-weight: 600;
}
.details .info-deatils .borders .borders-countries {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.details .info-deatils .borders .borders-countries .border {
  background-color: white;
  padding: 10px 28px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 12px 3px;
  border-radius: 5px;
}

a {
  text-decoration: none;
}

.dark-details .back-btn {
  background-color: hsl(209deg, 23%, 22%);
  color: hsl(0deg, 0%, 98%);
}
.dark-details .col-1,
.dark-details .col-2 {
  color: hsl(0deg, 0%, 98%);
}
.dark-details .info h1 {
  color: hsl(0deg, 0%, 98%);
}
.dark-details .borders-title {
  color: hsl(0deg, 0%, 98%);
}
.dark-details .borders-countries {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.dark-details .borders-countries .dark-border {
  background-color: hsl(209deg, 23%, 22%);
  padding: 10px 28px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 12px 3px;
  border-radius: 5px;
  color: hsl(0deg, 0%, 98%);
}

a:-webkit-any-link {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.dark-theme {
  background-color: hsl(207deg, 26%, 17%);
}

#root {
  min-height: 100vh;
}/*# sourceMappingURL=app.css.map */